
.title {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("./Assets/photo6.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center; 
    color: white;
}

.title h2 {
    margin: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6); 
    padding: 15px 30px; 
    font-size: 2rem;
    text-align: center;
}

video {
    width: 90%;          
    max-width: 700px;   
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
}

.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px; 
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.movieBox {
    display: flex;
    flex-direction: column; 
    background-color: #a3bf50; 
    border-radius: 15px;
    overflow: hidden; 
}

.movieImg { 
    width: 100%;
    object-fit: cover; 
    display: flex;
    justify-content: center; 
    align-items: center;  
    margin: 5px;  
}

.movieText { 
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    justify-content: space-between; 
}

button {
    display: block;
    margin: 15px auto 5px auto;


}


