body{
    margin: 0;
    padding: 0;

}

h1 h2 h3 h4 h5 h6{
    font-family: serif;
}

p{
    font-family: sans-serif;
}
/* Css Code For Header */
.header {
    overflow: hidden;
    background-color: #901b22;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header-right {
    grid-column: 1;
    display: flex;
    gap: 10px;
}


.logo {
    grid-column: 2;
    height: 200px;
    width: 200px;
    justify-self: center; 
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}

/* End Of Header */

/* Start of the footer */

footer{
    background-color: #901b22;
    color: white;
    margin-top: 50px;
    padding: 20px;
}

.footerGrid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.footerTitle { 
    grid-area: 1 / 1 / 2 / 2; 
}

.footerLinks { 
    grid-area: 1 / 2 / 2 / 3; 
}

.credit{
    display: inline;
}

.footerLinks ul {
    list-style-type: none; 
    padding: 0;
    margin: 10px;
    text-align: right;
}

.footerLinks li {
    list-style-type: none; 
    padding: 0;
    margin: 10px;
}


.footerLinks a {
    color: white;
    margin:10px;
    text-decoration: none; 
}

button {
    padding: 10px 30px;
    font-size: 1.5rem; 
    color: #ffffff;
    background-color: #901b22;
    border-radius: 20px;
    border: 2px solid #901b22;
    cursor: pointer; 
    transition: 0.3s; 
}

button:hover {
    background-color: white;
    color: #901b22;
}


