body{
    margin: 0;
    padding: 0;
}

/* Css Code For Header */
.header {
    overflow: hidden;
    background-color: #901b22;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header-right {
    grid-column: 1;
    display: flex;
    gap: 10px;
}


.logo {
    grid-column: 2;
    height: 200px;
    width: 200px;
    justify-self: center; 
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}

/* End Of Header */